@page "/department/department-list"


@{
    if (ErrorMessage == null)
    {
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="border-bottom-0" colspan="6">
                            <h3 class="d-inline-block mb-0">
                                <strong><i class="fas fa-list-ul"></i> Department List</strong>
                            </h3>
                            <a href="department/create-department" class="btn btn-success float-right">
                                <i class="fas fa-plus"></i> Create New
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <th style="min-width:200px;">
                            Department Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th style="min-width:100px;">
                            Is Active
                        </th>
                        <th style="min-width:120px;">
                            Created At
                        </th>
                        <th style="min-width:120px;">
                            Updated At
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Departments == null)
                        {
                            <tr class="text-center">
                                <td colspan="6"><em>Loading...</em></td>
                            </tr>
                        }
                        else
                        {
                            if (Departments.Any())
                            {
                                foreach (var item in Departments)
                                {
                                    <tr>
                                        <td>
                                            @item.DepartmentName
                                        </td>
                                        <td>
                                            @item.Description
                                        </td>
                                        <td>
                                            @item.IsActive
                                        </td>
                                        <td>
                                            @item.CreatedAtUtc
                                        </td>
                                        <td>
                                            @item.LastModifiedAtUtc
                                        </td>
                                        <td>
                                            <a class="badge badge-primary" href="department/update-department/@(item.DepartmentId)">Edit</a>
                                            <a class="badge badge-info" href="department/department-details/@(item.DepartmentId)">Details</a>
                                            <a class="badge badge-danger" href="department/delete-department/@(item.DepartmentId)">Delete</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="text-center" colspan="6">No department found in the database.</td>
                                </tr>
                            }
                        }

                    }
                </tbody>
            </table>
        </div>

    }
    else
    {
        <div class="alert alert-danger rounded-0">
            @ErrorMessage
        </div>
    }
}