@page
@model RazorPageApp.Pages.Employee.EmployeeListModel
@{
    ViewData["Title"] = "EmployeeList";
}

<div class="border p-2 border-bottom-0">
    <h1 class="d-inline-block mb-0">Employee List</h1>
    <a asp-page="./CreateEmployee" class="btn btn-success float-right">Create New</a>
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeList[0].EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeList[0].DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeList[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeList[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeList[0].PhoneNumber)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.ErrorMessage == null)
            {
                if (Model.EmployeeList.Any())
                {
                    foreach (var item in Model.EmployeeList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepartmentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfBirth)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                <a class="badge badge-primary" asp-page="./UpdateEmployee" asp-route-employeeId="@item.EmployeeId">Edit</a>
                                <a class="badge badge-info" asp-page="./EmployeeDetails" asp-route-employeeId="@item.EmployeeId">Details</a>
                                <a class="badge badge-danger" asp-page="./DeleteEmployee" asp-route-employeeId="@item.EmployeeId">Delete</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="text-center" colspan="6">No employee found in the database.</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">
                        <div class="alert alert-danger rounded-0 mb-0">
                            @Model.ErrorMessage
                        </div>
                    </td>
                </tr>

            }

        }
    </tbody>
</table>

