@page "{employeeId:min(1)}"
@model RazorPageApp.Pages.Employee.EmployeeDetailsModel
@{
    ViewData["Title"] = "Employee Details";
}

<div class="card">
    <div class="card-header">
        <h2 class="mb-0">Employee Details</h2>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label asp-for="EmployeeDetailsViewModel.EmployeeName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="form-control">
                    @Html.DisplayFor(model => model.EmployeeDetailsViewModel.EmployeeName)
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="EmployeeDetailsViewModel.DepartmentName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="form-control">
                    @Html.DisplayFor(model => model.EmployeeDetailsViewModel.DepartmentName)
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="EmployeeDetailsViewModel.DateOfBirth" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="form-control">
                    @Html.DisplayFor(model => model.EmployeeDetailsViewModel.DateOfBirth)
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="EmployeeDetailsViewModel.Email" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="form-control">
                    @Html.DisplayFor(model => model.EmployeeDetailsViewModel.Email)
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="EmployeeDetailsViewModel.PhoneNumber" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="form-control">
                    @Html.DisplayFor(model => model.EmployeeDetailsViewModel.PhoneNumber)
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="EmployeeDetailsViewModel.EmployeeName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="form-control">
                    @Html.DisplayFor(model => model.EmployeeDetailsViewModel.EmployeeName)
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="EmployeeDetailsViewModel.IsActive" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="form-control">
                    @Html.DisplayFor(model => model.EmployeeDetailsViewModel.IsActive)
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="EmployeeDetailsViewModel.CreatedAtUtc" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="form-control">
                    @Html.DisplayFor(model => model.EmployeeDetailsViewModel.CreatedAtUtc)
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="EmployeeDetailsViewModel.LastModifiedAtUtc" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="form-control">
                    @Html.DisplayFor(model => model.EmployeeDetailsViewModel.LastModifiedAtUtc)
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a asp-page="./UpdateEmployee" asp-route-employeeId="@Model.EmployeeDetailsViewModel.EmployeeId" class="btn btn-secondary">Edit</a>
        <a asp-page="./EmployeeList" class="btn btn-primary">Back to List</a>
    </div>
</div>