@page "/identity/login"

<h1 class="text-center mb-4">Login</h1>

<EditForm EditContext="FormContext" OnValidSubmit="HandleValidSubmitAsync">
    <CustomValidationMessages @ref="ValidationMessages" />
    <ValidationSummary Model="@LoginModel" />

    <div class="form-floating mb-3">
        <InputText class="form-control" @bind-Value="LoginModel.EmailOrUserName" placeholder="Enter your email" />
        <label><i class="fas fa-envelope"></i> Email</label>
        <ValidationMessage For="@(() => LoginModel.EmailOrUserName)" />
    </div>

    <div class="form-floating mb-3">
        <InputText type="password" class="form-control" @bind-Value="LoginModel.Password" placeholder="Password" />
        <label><i class="fas fa-key"></i> Password</label>
        <ValidationMessage For="@(() => LoginModel.Password)" />
    </div>
    <div class="d-grid gap-3">
        <button disabled="@IsSubmitBtnDisabled" type="submit" class="col btn btn-success btn-form-floating">
            @(IsSubmitBtnDisabled ? "Submitting...." : "Login") <i class="fas fa-sign-in-alt"></i>
        </button>
        <a class="col btn btn-warning btn-form-floating" href="identity/forgot-password">
            Forgot Password?
        </a>
        <a class="btn btn-primary btn-form-floating" href="identity/register">
            Need an account? Sign up! <i class="fas fa-arrow-right"></i>
        </a>
    </div>

</EditForm>
