@page "/identity/registration"
@layout EmptyLayoutComponent

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">
                                    <i class="fas fa-user-edit"></i> Create Account
                                </h3>
                            </div>
                            <div class="card-body">
                                <EditForm EditContext="FormContext" OnValidSubmit="HandleValidSubmitAsync">
                                    <DataAnnotationsValidator />
                                    <CustomValidationMessages @ref="ValidationMessages" />
                                    <ValidationSummary Model="@RegistrationModel" />
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <InputText @bind-Value="RegistrationModel.FirstName" class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" />
                                                <label for="inputFirstName"><i class="fas fa-user-tie"></i> First name</label>
                                                <ValidationMessage For="@(() => RegistrationModel.FirstName)" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <InputText @bind-Value="RegistrationModel.LastName" class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" />
                                                <label for="inputLastName"><i class="fas fa-user-tie"></i> Last name</label>
                                                <ValidationMessage For="@(() => RegistrationModel.LastName)" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <InputText @bind-Value="RegistrationModel.Email" class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                                        <label for="inputEmail"><i class="fas fa-envelope"></i> Email address</label>
                                        <ValidationMessage For="@(() => RegistrationModel.Email)" />
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <InputText @bind-Value="RegistrationModel.Password" class="form-control" id="inputPassword" type="password" placeholder="Create a password" />
                                                <label for="inputPassword"><i class="fas fa-key"></i> Password</label>
                                                <ValidationMessage For="@(() => RegistrationModel.Password)" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <InputText @bind-Value="RegistrationModel.ConfirmPassword" class="form-control" id="inputPasswordConfirm" type="password" placeholder="Confirm password" />
                                                <label for="inputPasswordConfirm"> <i class="fas fa-key"></i> Confirm Password</label>
                                                <ValidationMessage For="@(() => RegistrationModel.ConfirmPassword)" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid">
                                            <button disabled="@IsSubmitBtnDisabled" class="btn btn-success btn-block btn-form-floating" type="submit">
                                                <i class="far fa-save"></i> @(IsSubmitBtnDisabled ? "Submitting..." : "Create Account")
                                            </button>
                                        </div>
                                    </div>
                                </EditForm>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="d-grid">
                                    <button style="background: #de4c33;" @onclick="SignUpWithGoogle" class="col btn btn-form-floating text-white">
                                        <i class="fab fa-google"></i> Sign up with Google
                                    </button>
                                </div>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="d-grid">
                                    <a class="col btn btn-primary btn-form-floating" href="identity/login">
                                        Have an account? Go to login <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

