<!-- Modal -->
<div class="modal fade @ModalClass" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-success">
            <div class="modal-header bg-success text-white justify-content-center">
                <h3 class="modal-title my-3" id="staticBackdropLabel">Create Employee</h3>
            </div>

            <EditForm Model="@CreateEmployeeViewModel" OnValidSubmit="HandleValidSubmit">
                <div class="modal-body">
                    <DataAnnotationsValidator />
                    <CustomValidationMessages @ref="CustomValidationMessages" />
                    <ValidationSummary Model="@CreateEmployeeViewModel" />
                    <div class="form-floating mb-3">
                        <InputText class="form-control" @bind-Value="CreateEmployeeViewModel.Name" placeholder="EmployeeName" />
                        <label><i class="fas fa-user-tie"></i> Name</label>
                        <ValidationMessage For="@(() => CreateEmployeeViewModel.Name)" />
                    </div>
                    <div class="form-floating mb-3">
                        <InputSelect class="form-select" @bind-Value="CreateEmployeeViewModel.DepartmentId" placeholder="Department">
                            <option value="">Select Department</option>
                            @foreach (var item in DepartmentSelectList)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </InputSelect>
                        <label><i class="fas fa-building"></i> Department</label>
                        <ValidationMessage For="@(() => CreateEmployeeViewModel.DepartmentId)" />
                    </div>
                    <div class="form-floating mb-3">
                        <InputDate class="form-control" @bind-Value="CreateEmployeeViewModel.DateOfBirth" placeholder="DateOfBirth" />
                        <label><i class="fas fa-calendar-alt"></i> Date Of Birth</label>
                        <ValidationMessage For="@(() => CreateEmployeeViewModel.DateOfBirth)" />
                    </div>
                    <div class="form-floating mb-3">
                        <InputText class="form-control" @bind-Value="CreateEmployeeViewModel.Email" placeholder="Email" />
                        <label><i class="fas fa-envelope"></i> Email</label>
                        <ValidationMessage For="@(() => CreateEmployeeViewModel.Email)" />
                    </div>
                    <div class="form-floating">
                        <InputText class="form-control" @bind-Value="CreateEmployeeViewModel.PhoneNumber" placeholder="PhoneNumber" />
                        <label><i class="fas fa-phone-square"></i> PhoneNumber</label>
                        <ValidationMessage For="@(() => CreateEmployeeViewModel.PhoneNumber)" />
                    </div>

                </div>

                <div class="modal-footer border-success">
                    <button @onclick="Close" type="button" class="col btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fas fa-times"></i> Close
                    </button>
                    <button type="submit" class="col btn btn-success">
                        <i class="fas fa-user-plus"></i> Submit
                    </button>
                </div>

            </EditForm>
        </div>
    </div>
</div>

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}

