@page "/employees"
@attribute [Authorize]

<CreateEmployeeModalComponent @ref="CreateModal" EmployeeCreated="CreatedEmployeeEventHandler" />
<UpdateEmployeeModalComponent @ref="UpdateModal" EmployeeUpdated="EmployeeUpdatedEventHandler" />

<EmployeeDetailsModalComponent @ref="DetailsModal" />
<DeleteEmployeeModalComponent @ref="DeleteModal" EmployeeDeleted="EmployeeDeletedEventHandler" />

@{
    if (ErrorMessage == null)
    {

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="6">
                            <h3 class="mb-0">
                                <strong><i class="fas fa-list-ul"></i> Employee List</strong>
                                <a @onclick="OpenCreateModalAsync" class="btn btn-success float-end">
                                    <i class="fas fa-user-plus"></i> Create New
                                </a>
                            </h3>

                        </th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Department Name
                        </th>
                        <th>
                            Date Of Birth
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone Number
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Employees == null)
                        {
                            <tr>
                                <td colspan="6">
                                    <em>Loading...</em>
                                </td>
                            </tr>
                        }
                        else
                        {
                            if (Employees.Any())
                            {
                                foreach (var item in Employees)
                                {
                                    <tr>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.DepartmentName
                                        </td>
                                        <td>
                                            @item.DateOfBirth.ToString("dd-MMM-yyyy")
                                        </td>
                                        <td>
                                            @item.Email
                                        </td>
                                        <td>
                                            @item.PhoneNumber
                                        </td>
                                        <td>
                                            <a @onclick="() => OpenUpdateModalAsync(item.Id)" class="btn btn-sm btn-warning">Edit</a>
                                            <a @onclick="() => OpenDetailsModalAsync(item.Id)" class="btn btn-sm btn-info">Details</a>
                                            <a @onclick="() => OpenDeleteModalAsync(item.Id)" class="btn btn-sm btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="text-center" colspan="6">No employee found in the database.</td>
                                </tr>
                            }
                        }

                    }
                </tbody>
            </table>
        </div>



    }
    else
    {
        <div class="alert alert-danger rounded-0">
            @ErrorMessage
        </div>
    }
}