@page "/departments"

@attribute [Authorize]

<CreateDepartmentModalComponent @ref="CreateModal" DepartmentCreated="OnItemChanged" />
<UpdateDepartmentModalComponent @ref="UpdateModal" DepartmentUpdated="OnItemChanged" />
<DepartmentDetailsModalComponent @ref="DetailsModal" />
<DeleteDepartmentModalComponent @ref="DeleteModal" DepartmentDeleted="OnItemChanged" />

@{
    if (ErrorMessage == null)
    {
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="6">
                            <h3 class="mb-0">
                                <strong><i class="fas fa-list-ul"></i> Department List</strong>

                                <button @onclick=ShowCreateModal class="btn btn-success float-end">
                                    <i class="fas fa-plus"></i> Create New
                                </button>
                            </h3>
                        </th>
                    </tr>
                    <tr>
                        <th style="min-width:200px;">
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th style="min-width:100px;">
                            Is Active
                        </th>
                        <th style="min-width:120px;">
                            Created At
                        </th>
                        <th style="min-width:120px;">
                            Updated At
                        </th>
                        <th style="min-width:200px;">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Departments == null)
                        {
                            <tr class="text-center">
                                <td colspan="6"><em>Loading...</em></td>
                            </tr>
                        }
                        else
                        {
                            if (Departments.Any())
                            {
                                foreach (var item in Departments)
                                {
                                    <tr>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.Description
                                        </td>
                                        <td>
                                            @item.IsActive
                                        </td>
                                        <td>
                                            @item.CreatedAtUtc.ToString("dd-MMM-yyyy hh:mm tt")
                                        </td>
                                        <td>
                                            @item.LastModifiedAtUtc
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-warning" @onclick="() => ShowUpdateModal(item.Id)">Edit</a>
                                            <a class="btn btn-sm btn-info" @onclick="() => ShowDetailsModalAsync(item.Id)">Details</a>
                                            <a class="btn btn-sm btn-danger" @onclick="() => ShowDeleteModalAsync(item.Id)">Delete</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="text-center" colspan="6">No department found in the database.</td>
                                </tr>
                            }
                        }

                    }
                </tbody>
            </table>
        </div>

    }
    else
    {
        <div class="alert alert-danger rounded-0">
            @ErrorMessage
        </div>
    }
}