<!-- Modal -->
<div class="modal fade @ModalClass" id="staticBackdrop"
     data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-warning">
            <div class="modal-header bg-warning justify-content-center">
                <h3 class="modal-title my-3" id="staticBackdropLabel">
                    Update Department
                </h3>
            </div>
            @{
                if (ErrorMessage == null)
                {
                    if (UpdateDepartmentModel != null)
                    {
                        <EditForm EditContext="FormEditContext" OnValidSubmit="HandleValidSubmit">
                            <div class="modal-body">
                                <DataAnnotationsValidator />
                                <CustomValidationMessages @ref="CustomValidationMessages" />
                                <ValidationSummary Model="@UpdateDepartmentModel" />
                                <div class="form-floating mb-3">
                                    <InputText class="form-control" @bind-Value="UpdateDepartmentModel.Name" placeholder="Name" />
                                    <label><i class="fas fa-building"></i> Name</label>
                                    <ValidationMessage For="@(() => UpdateDepartmentModel.Name)" />
                                </div>

                                <div class="form-floating mb-3">
                                    <InputTextArea class="form-control" style="height: 100px" @bind-Value="UpdateDepartmentModel.Description" placeholder="Description" />
                                    <label><i class="fas fa-edit"></i> Description</label>
                                    <ValidationMessage For="@(() => UpdateDepartmentModel.Description)" />
                                </div>
                                <div class="form-control p-2">
                                    <div class="row">
                                        <div class="col-4 col-form-label">
                                            Status
                                        </div>
                                        <div class="col-4">
                                            <InputCheckbox @bind-Value="UpdateDepartmentModel.IsActive" class="btn-check" id="btn-check-outlined" autocomplete="off" />
                                            <label class="btn @(UpdateDepartmentModel.IsActive ? "btn-outline-success" : "btn-outline-danger")" for="btn-check-outlined">
                                                @(UpdateDepartmentModel.IsActive ? "Active" : "Not Active")
                                            </label>
                                        </div>
                                    </div>


                                </div>

                            </div>

                            <div class="modal-footer border-warning">
                                <button @onclick="Close" type="button" class="col btn btn-secondary" data-bs-dismiss="modal">
                                    <i class="fas fa-times"></i> Close
                                </button>
                                <button type="submit" class="col btn btn-success">
                                    <i class="far fa-save"></i> Update
                                </button>
                            </div>

                        </EditForm>
                    }
                    else
                    {
                        <em>Please wait! Data is loading.</em>
                    }
                }
                else
                {
                    <div class="alert alert-danger mb-0">
                        @ErrorMessage
                    </div>
                }
            }
        </div>
    </div>
</div>

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}

