@page "/employee/create-employee"

<div class="card">
    <div class="card-header">
        <h3>
            <strong>
                <i class="fas fa-user-plus"></i> Create Employee
            </strong>
        </h3>
    </div>
    <div class="card-body">
        <EditForm Model="@CreateEmployeeViewModel" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary Model="@CreateEmployeeViewModel" />
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Name</label>
                <div class="col-sm-10">
                    <InputText class="form-control" @bind-Value="CreateEmployeeViewModel.EmployeeName" />
                    <ValidationMessage For="@(() => CreateEmployeeViewModel.EmployeeName)" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Department</label>
                <div class="col-sm-10">
                    <CustomInputSelect class="custom-select" @bind-Value="CreateEmployeeViewModel.DepartmentId">
                        <option value="">Select Department</option>
                        @foreach (var item in DepartmentSelectList)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </CustomInputSelect>
                    <ValidationMessage For="@(() => CreateEmployeeViewModel.DepartmentId)" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Date Of Birth</label>
                <div class="col-sm-10">
                    <InputDate class="form-control" @bind-Value="CreateEmployeeViewModel.DateOfBirth" />
                    <ValidationMessage For="@(() => CreateEmployeeViewModel.DateOfBirth)" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <InputText class="form-control" @bind-Value="CreateEmployeeViewModel.Email" />
                    <ValidationMessage For="@(() => CreateEmployeeViewModel.Email)" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">PhoneNumber</label>
                <div class="col-sm-10">
                    <InputText class="form-control" @bind-Value="CreateEmployeeViewModel.PhoneNumber" />
                    <ValidationMessage For="@(() => CreateEmployeeViewModel.PhoneNumber)" />
                </div>
            </div>
            <div class="row">
                <div class="col offset-sm-2">
                    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Submit</button>
                    <a href="employee/employee-list" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Back to List</a>
                </div>

            </div>

        </EditForm>
    </div>
</div>
