@page "/employee/employee-list"

@{
    if (ErrorMessage == null)
    {

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="6">
                            <h3 class="mb-0">
                                <strong><i class="fas fa-list-ul"></i> Employee List</strong>
                                <a href="employee/create-employee" class="btn btn-success float-end">
                                    <i class="fas fa-user-plus"></i> Create New
                                </a>
                            </h3>

                        </th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>
                            Employee Name
                        </th>
                        <th>
                            DepartmentName
                        </th>
                        <th>
                            DateOfBirth
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            PhoneNumber
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Employees == null)
                        {
                            <tr>
                                <td colspan="6">
                                    <em>Loading...</em>
                                </td>
                            </tr>
                        }
                        else
                        {
                            if (Employees.Any())
                            {
                                foreach (var item in Employees)
                                {
                                    <tr>
                                        <td>
                                            @item.EmployeeName
                                        </td>
                                        <td>
                                            @item.DepartmentName
                                        </td>
                                        <td>
                                            @item.DateOfBirth
                                        </td>
                                        <td>
                                            @item.Email
                                        </td>
                                        <td>
                                            @item.PhoneNumber
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-warning" href="employee/update-employee/@(item.EmployeeId)">Edit</a>
                                            <a class="btn btn-sm btn-info" href="employee/employee-details/@(item.EmployeeId)">Details</a>
                                            <a class="btn btn-sm btn-danger" href="employee/delete-employee/@(item.EmployeeId)">Delete</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="text-center" colspan="6">No employee found in the database.</td>
                                </tr>
                            }
                        }

                    }
                </tbody>
            </table>
        </div>



    }
    else
    {
        <div class="alert alert-danger rounded-0">
            @ErrorMessage
        </div>
    }
}